@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


html{
    font-size: 16px;
    font-family:'Ubuntu',sans-serif;
}



/* Por debajo de 400px */

@media screen and (max-width: 400px){
body{
font-size:10px;}
}


/*bienvenidos*/
.bienvenidos{
    background:url("../images/portada.png");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.container-header{
    height: 100px,
}
.encabezado{
    background: rgba(0,0,0,0.2);
}
.navbar-fixed-top{
    background: linear-gradient(to right, #373b44, #4286f4);
}
.logo{
    height: 90px;
    width: 160px;
    margin: 0 auto;
    padding:10px;
    
}
a.nav-link {
    font-family:ubuntu !important;
}

.navbar-dark  .navbar-brand {
    color: rgb(253, 253, 253);
    font-family:Ubuntu;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.navbar-dark  .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.98);

}

.navbar-toggler {
    font-size: 1.6rem;
    color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);

    text-align: center;
    padding:.8rem;
    text-transform: uppercase;
 }


.navbar-dark .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
    color: rgba(255, 255, 255, 0.95);
    background:#000;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    background: #9B3508;
    border-radius:10px;
}

#menuprincipal{
    clear: both;
}
.texto-bienvenido{
    color: #fff;
    margin-top: 15rem;
    text-align: left;
    font-family:Ubuntu;
    font-size: 700;
    position:relative;
    text-align: center;

}
.btn-primary {
      background-color: #F05F40;
    border-color: #b93e24;
    transition: all .5s ease;
    position:relative;
    
}

.btn-primary:hover {
    color: #fff;
    background-color: #fd7355;
    border-color: #F05F40;
}
.btn-success {
      background-color: green;
      border-color: #b93e24;
      transition: all .5s ease;
} 
/*Quienes somos*/
.quienes-somos{
    color: #000;
    padding-top: 30px;
}
.container-nosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    position:relative;
    padding-top:100px;
    background-color:#fff;


}
.item-1{
    margin:0px  auto;
}
.item-2{
    margin: 0px auto;
}
.nosotros{
    display: block;
    background:#2C5364;
    color:#fff;
    width: 100%;
    padding:10px;
    position:relative;
    top:50%;
    left:50%;
    font-family: Ubuntu;
    font-size:1rem;
    border-radius:20px;
    
}


.text-bold{
    display:block;
    font-family: 'Ubuntu',sans-serif;
    font-size: 2rem;
    text-align: center;
    top:50%;
    left: 50%;


}
.titulo{
    display: block;
    color:#000;
    width: 100%;
    padding:10px;
    position:relative;
    top:50%;
    left:50%;
    font-family: Ubuntu;
    font-size:3rem,
    
}
.btn-secondary{
    display: block;
    font-family:'Ubuntu',sans-serif;
    font-size: 1rem;
    background-color:#f5af19;
    position:relative;
    top:50%;
    left: 50%;
    border-radius:10px;

}


/* Servicios*/


.servicios h3{
font-weight: bold;
}
.container-card{
    margin:8rem;
    padding:10px;
}

.principal{
    
    margin-top:10rem;
    font-family: 'Ubuntu';
}




/*tarjeta 1*/
.card-header-first{
    margin-top:-40px;
    height: 90px;
    background: linear-gradient(to right, #b92b27, #1565c0);
    
    box-shadow:1px 5px 15px #a2a2a2;

}
.card-header-title{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-size: 2rem;
    position:relative;
}

/*efecto shadows para todas las tarjetas*/
.card-section{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
/*Para el efecto sombra al pasar por encima el mouse*/
.card-section:hover{
    box-shadow:1px 1px 20px #d2d2d2;
}
/*modal estilos*/
.modal-backdrop {
background-color: #0000ff;
}
.modal-content{
    border-radius: 10px;
    background-clip: border-box;
}



/* Ultimos proyectos*/
.ultimos-proyectos{
    background: #424141;
    color: #fff;
}
.ultimos-proyectos a{
display: block;
overflow: hidden;
margin-bottom: 1.5rem;
}

.ultimos-proyectos img{
transition: all .3s ease;
min-width: 100%;
}
.ultimos-proyectos a:hover img{
    transform: scale(1.5);
}

/*Contacto*/
.imgContacto{
   
    margin: 0 auto;
    display:block;
}
/*Pie de pagina*/
.footer{
    color: #fff;
    background: #222222;
}

@media (min-width: 768px) {
    html{
        font-size: 16px;
    }
#menuprincipal {
    clear: inherit;
}
.bienvenidos{
    background:url("../images/portada1.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    


}
#bienvenidos:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}
}
/* Formulario de contacto*/
.contacto-box{
    background:black;
}